<div class="container d-flex align-items-center justify-content-center">
  <div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Welcome to your Mpesa Account
        </div>
        <div class="card-body">
          <br/>
          <p>
            <strong>Account Balance:</strong>
            Ksh. <%= mpesa_account.available_balance %>
          </p>
        </div>
      </div>

      <br/>
      <br/>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="button"><%= link_to "Top up", mpesa_transactions_top_up_path, class: "btn btn-primary"%></button>
        <button class="btn btn-primary" type="button"><%= link_to "Send cash", contacts_path, class: "btn btn-primary"%></button>
      </div>

    </div>
  </div>
</div>