<div class="container d-flex align-items-center justify-content-center">
  <div>
    <div class="container">
      <div class="card">
        <div class="card-header">
          Welcome <%= current_user&.full_name %> to your Mpesa Account
        </div>
        <div class="card-body">
          <br/>
          <p>
            <strong>Your Account Balance:</strong>
            Ksh. <%= mpesa_account.available_balance %>
          </p>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0 equal-margin-bottom">
          <div class="card-body d-flex flex-column">
            <%= link_to "Top up account", mpesa_transactions_top_up_path, class: "btn btn-primary"%>
          </div>
        </div>
        <div class="col-sm-6 equal-margin-bottom">
          <div class="card-body d-flex flex-column">
            <%= link_to "Send cash", mpesa_transactions_top_up_path, class: "btn btn-primary"%>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>