<div class="container d-flex align-items-center justify-content-center">
  <div class="form">
    <%= form_for @mpesa_transaction, url: mpesa_transactions_send_money_path do |f| %>
      <div class="mb-3">
        <%= f.text_field :phone_number, value: @receiver_account&.phone_number, autofocus: true, class: 'form-control' %>
      </div>
      <br/>
      <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Amount to send</label>
        <%= f.number_field :amount, autofocus: true, class: 'form-control' %>
      </div>
      <br/>
      <div class="actions">
        <%= f.button "Send Money", type: :submit, class: "btn btn-primary" %>
      </div>
      <br/>
    <% end %>
  </div>
</div>